@import "tailwindcss/theme";
@import "tailwindcss/utilities";
@import "tailwindcss/preflight";


.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/image1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
